.pm-license-details__fields-container {
  padding: 20px 40px 0px 40px;
}

.pm-license-details__upload-button {
  padding-left: 40px;
  padding-top: 20px;
}

.pm-license-details__technologies-container {
  display: flex;
  align-items: center;
  padding: 20px 40px 0px 40px;
}

.pm-license-details__technologies-title {
  font-size: 19px;
  padding-right: 15px;
}
