@import "src/app/variables/colors";

.pm-loader__loader {
  border: 5px solid $ena-gray;
  border-top: 5px solid $ena-way-point;
  border-radius: 50%;
  width: 20px;
  align-self: center;
  height: 20px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pm-loader__loader-box {
  align-items: center;
  display: flex;
  justify-content: center;
}
