.pm-show-license-details__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 18px;
}

.pm-show-license-details__text {
  margin-right: 10px;
}

.pm-show-license-details__wrapper {
  padding-left: 30px;
}

